<footer>
  <ul class="menu clearfix">
    <li>
      <a href="/a-propos">À propos</a>
    </li>
    <li class="current">
      <a href="/">Blogue</a>
    </li>
    <li>
      <a href="/membres">Membres</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <ul class="menu secondary clearfix">
    <li>
      <a href="https://twitter.com/coopterritoires">Twitter</a>
    </li>
    <li>
      <a href="https://github.com/territoires/">GitHub</a>
    </li>
  </ul>
  <p class="copyright">© 2014 Coopérative Territoires</p>
</footer>
