<header>
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/images/logo.png" alt="Logo Territoires"></a>
    </div>
    <p class="description">{{ site.description }}</p>
    <ul class="menu">
      <li>
        <a href="/a-propos">À propos</a>
      </li>
      <li class="current">
        <a href="/">Blogue</a>
      </li>
      <li>
        <a href="/membres">Membres</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</header>
