<ul class="menu">
  {% for item in site.t[language].menu %}
  {% if page.url == item[1].link %}
    {% assign current_page = item[0] %}
    {% assign is_current = true %}
  {% else %}
    {% assign is_current = false %}
  {% endif %}
  <li{% if is_current == true %} class="current"{% endif %}>
    <a href="{{ item[1].link }}">{{ item[1].title }}</a>
  </li>
  {% endfor %}
  <li class="secondary">
    {% if language == 'fr' %}
      <a href="{{ site.t.en.menu[current_page].link }}">English</a>
    {% else %}
      <a href="{{ site.t.fr.menu[current_page].link }}">Français</a>
    {% endif %}
    </a>
  </li>
</ul>
